#root {
  margin: 0 auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  button {
    color: rgb(1, 58, 1);
    background-color: hsl(120, 66%, 51%);
    max-width: 300px;
    margin: auto;
    cursor: pointer;
    align-self: end;
    border-radius: 50px;
  }

  button:hover{
    background-color: hsl(120, 63%, 41%);
  }
}

input{
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 300px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px black;
}

label{
  text-align: left;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.error {
  color: rgb(208, 9, 9);
}

a{ 
  cursor: pointer;
}

